{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}


<main role="main" class="flex wrap center">
  <!-- This is the post loop - each post will be output using this markup -->
  {{#foreach posts}}
  <article class="post-index">
    {{#if feature_image}}
    <a href="{{url}}"><img src="{{img_url feature_image}}" class="img-post"></a>
    <div class="flex sa">{{/if}}
      {{#if tags}}
      {{tags}}
      {{else}}
      <div>No tag</div>
      {{/if}}</div>
  </article>
  {{/foreach}}

</main>

<!-- Previous/next page links - displayed on every page -->
{{> footer}}