{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}


<div class="flex sa">
  <div class="error-style">
    Sorry nothing to see here ! Find your way
    <a href="/"><span class="redirection">here</span></a>
  </div>
</div>