body{
  font-family: 'Shadows Into Light', cursive;
}
h1{
  font-size: 45px;
}
h2{
  font-size: 35px;
}
h3{
  font-size: 25px;
}
h1,h2{
  margin: 10px;
}
.header-container{
  background-color: white;
  margin:  40px 20px;
}
.footer{
  margin-top: 20px;
  padding: 20px;
  width: 100%;
  position: static;
  bottom: 0;
  border-top: 1px solid black;
  background-color: white;
}
.site-nav-content ul li{
  list-style: none;
  font-weight: bold;
}
.site-nav-content ul{
  display: flex;
  justify-content: space-evenly;
  padding-inline-start: 0;
}
.navbar{
  width: 100%;
  -webkit-box-shadow: 0px 35px 40px -19px rgba(0,0,0,0.74), 0px -25px 40px -19px rgba(0,0,0,0.74);
-moz-box-shadow: 0px 35px 40px -19px rgba(0,0,0,0.74), 0px -25px 40px -19px rgba(0,0,0,0.74);
box-shadow: 0px 35px 40px -19px rgba(0,0,0,0.74), 0px -25px 40px -19px rgba(0,0,0,0.74);
margin:  20px 0;

}
.post-index{
  width: 40vw;
  margin: 20px;
  background-color: white;
  -webkit-box-shadow: 0px 35px 40px -19px rgba(0,0,0,0.74);
-moz-box-shadow: 0px 35px 40px -19px rgba(0,0,0,0.74);
box-shadow: 0px 35px 40px -19px rgba(0,0,0,0.74);
}
.post-header{
  text-align: center;
}
.img-post{
  max-width: 40vw;
  display: block;
}
.post-content{
  margin: 20px;
}
.post-date{
  font-size: 12px;
}
.img-article{
  width: 100vw;
}

/* author page */
.profil-pix-container{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 20px auto;
}
.presentation{
  font-size: 20px;
  width: 90vw;

}
@media screen and (max-width: 450px) {
  .post-index{
    width: 90vw;
    margin: 20px 20px 0 20px;
  }
  .img-post{
    max-width: 90vw;
  }
  h1{
    font-size: 25px;
  }
  h2{
    font-size: 16px;
  }
  h3{
    font-size: 12px;
  }
}
