body{
  /* font-family: 'Shadows Into Light', cursive; */
  font-family: 'Poiret One', cursive;
}
h1{
  font-size: 45px;
}
h2{
  font-size: 35px;
}
h3{
  font-size: 25px;
}
h1,h2{
  margin: 10px;
}
.header-container{
  background-color: white;
  margin: 40px 20px;
}
.footer{
  margin-top: 20px;
  padding: 20px 0;
  width: 100%;
  position: static;
  bottom: 0;
  border-top: 1px solid black;
  background-color: white;
}
.site-nav-content ul li{
  list-style: none;
  font-weight: bold;
}
.message-success, .message-error {
  display: none;
}
.site-nav-content ul{
  display: flex;
  justify-content: space-evenly;
  padding-inline-start: 0;
}
.subscribe-div{
  width: 100%;
  margin-bottom: 20px;
  padding: 20px;
}
.subscribe-div h3{
  margin-top: 0;
}
.subscribe-form{
  text-align: center;

  width: 400px;
  padding: 20px;
  -webkit-box-shadow: 0px 35px 40px -19px rgba(0,0,0,0.74), 0px -25px 40px -19px rgba(0,0,0,0.74);
  -moz-box-shadow: 0px 35px 40px -19px rgba(0,0,0,0.74), 0px -25px 40px -19px rgba(0,0,0,0.74);
  box-shadow: 0px 35px 40px -19px rgba(0,0,0,0.74), 0px -25px 40px -19px rgba(0,0,0,0.74);
  margin:  20px 0;
}
.navbar{
  width: 100%;
  -webkit-box-shadow: 0px 35px 40px -19px rgba(0,0,0,0.74), 0px -25px 40px -19px rgba(0,0,0,0.74);
-moz-box-shadow: 0px 35px 40px -19px rgba(0,0,0,0.74), 0px -25px 40px -19px rgba(0,0,0,0.74);
box-shadow: 0px 35px 40px -19px rgba(0,0,0,0.74), 0px -25px 40px -19px rgba(0,0,0,0.74);
margin:  20px 0;

}
.post-index{
  width: 30vw;
  margin: 20px;
  background-color: white;
  -webkit-box-shadow: 0px 35px 40px -19px rgba(0,0,0,0.74);
-moz-box-shadow: 0px 35px 40px -19px rgba(0,0,0,0.74);
box-shadow: 0px 35px 40px -19px rgba(0,0,0,0.74);
}
.post-header{
  text-align: center;
}
.img-post{
  max-width: 100%;
  display: block;
}
.post-content{
  margin: 40px;
}
.post-date{
  font-size: 12px;
}
.img-article{
  width: 98vw;
}

/* author page */
.profil-pix-container{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 20px auto;
}
.presentation{
  font-size: 20px;
  width: 90vw;
}

/* error */
.error-style{
  font-size: 50px;
  margin: 0 20px;
}
.redirection{
border-bottom: 3px solid black;
}
@media screen and (max-width: 600px) {
  .post-index{
    width: 70vw;
    margin: 20px 20px 0 20px;
  }
  h1{
    font-size: 25px;
  }
  h2{
    font-size: 16px;
  }
  h3{
    font-size: 12px;
  }
  .error-style{
    font-size: 25px;
    margin: 0 20px;
  }
  .redirection{
  border-bottom: 1px solid black;
  }
}
